.Container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Button-Container {
  flex-direction: row;
  display: inline-flex;
}

button {
  border-color: wheat;
  background: wheat;
  border-radius: 2px;
  padding: 10px;
  margin: 20px;
  margin-right: 0;
  font-size: 0.7em;
}

h1 {
  font-size: 4em;
  line-height: 0em;
  display: flex;
}

p {
  font-size: 0.7em;
}
